header.site-header {
    background-color: #24292e;
    color: #ffffff;

    nav.navbar {
        a.site-brand {
            color: #ffffff;
            text-decoration: none;
            border: none;
            transition: .4s;

            &:visited {
                color: #ffffff;
                text-decoration: none;
                border: none;
            }
        
            &:hover, &:active {
                color: hsla(0,0%,100%,.75);
                text-decoration: none;
                border: none;
            }

            .site-title {
                font-family: 'Alegreya', serif;
                font-weight: bold;
                letter-spacing: .1rem;
                font-size: 1.75rem;
                line-height: 1em;
                display: block;
            }

            .site-tagline {
                font-family: 'Open Sans', sans-serif;
                font-weight: normal;
                letter-spacing: 0;
                font-size: .8rem;
                line-height: 1em;
                padding-bottom: 0.5rem;
                display: block;
            }
        }

        .site-nav {
            margin-left: auto;
            a.nav-link {
                transition: .4s;
                text-decoration: none;
                border: none;
                border-radius: 5px;
                color: hsla(0,0%,100%,.75);

                &:visited {
                    color: hsla(0,0%,100%,.75);
                    text-decoration: none;
                    border: none;
                }

                &:hover, &:active {
                    background-color: #3F4448;
                    color: #ffffff;
                    text-decoration: none;
                    border: none;
                }

                // Current page
                &.active {
                    background-color: transparent;
                    color: #ffffff;
                    text-decoration: none;
                    border: none;
                    &:visited, &:hover, &:active {
                        background-color: transparent;
                        color: #ffffff;
                        text-decoration: none;
                        border: none;
                    }
                }
            }
        }
    }
}