footer#site-footer {
    padding: 120px 0 60px;
    background-color: #70bdc2;
    color: #ffffff;
    border-top: 1px solid #15b0bb;


    a {
        color: #ffffff;
        text-decoration: none;
        transition: .4s;

        &:hover, &:active {
            color: #ffffff;
            text-decoration: none;
            border-bottom: #ffffff 1px dashed;
        }

        &:visited {
            color: #ffffff;
            opacity: .2;
            text-decoration: none;
        }

        img {
            &:hover, &:active, &:visited {
                text-decoration: none;
                border: none;
            }
        }
    }

    .footer-slogan {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    .footer-copyright {
        margin-top: 90px;
        text-transform: uppercase;
        letter-spacing: .1rem;
        opacity: .6;
        font-size: 11px;
    }

    .call-to-action {
        margin-bottom: 60px;
    }

    .contact-header {
        letter-spacing: .1rem;
        opacity: .6;
    }

    .contact-phone {
        letter-spacing: .1rem;
        margin: 0;
    }

    .contact-email {
        letter-spacing: .1rem;
        margin: 0;
    }

    .social-list {
        text-align: center;

        ul li {
            a {
                &:active,
                &:hover,
                &:visited,
                &:focus {
                    text-decoration: none;
                    border: none;
                }

                img {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }

    .footer-nav {
        margin-top: 90px;
        
        .list-inline-item:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}