footer#site-footer {
    margin: 50px 0 0 0;
    
    .footer-content {
        padding: 30px 0;
        background-color: #70bdc2;
        color: #ffffff;
        border-bottom: 1px solid #15b0bb;
    }

    .footer-nav {
        background-color: #ffffff;
        text-align: center;
        padding: 20px 0;
    }

    .footer-copyright {
        background-color: #ffffff;
        padding: 20px 0;
        font-size: 12px;
        color: #546E7A;
        font-family: 'museo-sans', sans-serif;
        letter-spacing: 0.75px;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
    
    }
}