article.page {
    background-color: #ffffff;
    padding: 50px 30px;

    .page-header {
        .page-title {
            font-size: 34px;
            font-size: 3.4rem;
            font-weight: 900;
            line-height: 1.12;
            letter-spacing: -1.5px;
            margin-bottom: 16px;
            text-align: center;
            display: block;
        }
    }

    .page-body {

    }
}